<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=FAAD2;Integrated Security=True" />
    <add key="ValidKey" value="kxU/LHHhu5oElmsexiy6y2U8XmSP7h92K0TJwGqeWrOGHeLOE2nqaj4lQkTziSUqQfVi2L+0M1aaOnmCudw/6Q=="/>
  </appSettings>
</configuration>
