<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=FAAD2;Integrated Security=True" />
    <add key="ValidKey" value="3jfiER8Plpu+r3LRSOPuN/3X05806lCFdAA5cjb0XTzWUHguB5HrlajxruEzQxY8hrzpu5a4RptEbaKEI3pywQ=="/>
  </appSettings>
</configuration>
