<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="currentPath" value="C:\Users\SakChai.T\Desktop\Job\accessthermal\ATS\ATS.Scheduler\bin\Debug\netcoreapp3.1\in"/>
    <add key="archivePath" value="C:\Users\SakChai.T\Desktop\Job\accessthermal\ATS\ATS.Scheduler\bin\Debug\netcoreapp3.1\out"/>
    <add key="buildingId" value="1"/>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=FAAD2;Integrated Security=True" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
